<div class="row gx-0">
  <div class="d-flex align-items-start flex-column col-2 sidebar">
    
    <h2>Marker type</h2>
    <div class="btn-group">
      <button type="button" [disabled]="hasDepotMarker()" class="btn btn-outline-primary" [class.active]="selectedType == PlaceType.DEPOT" (click)="selectedType = PlaceType.DEPOT">Depot</button>
      <button type="button" class="btn btn-outline-primary" [class.active]="selectedType == PlaceType.CLIENT" (click)="selectedType = PlaceType.CLIENT">Client</button>
    </div>

  
    <div class="mt-5 h2 position-relative ">Places {{placeMarkers.length}}, TD: {{getTotalDemand()}}:
      <span *ngIf="!placeMarkers.length" class="position-absolute top-0 start-100 translate-middle p-2  bg-danger border border-light rounded-circle">
      </span>
    </div>
    <ul class="list-group w-100 overflow-y-scroll" style="min-height: 200px; height: 200px;">
      <li class="list-group-item" *ngFor="let pm of placeMarkers">
        <div class="form-group row" >
          <label >{{pm.type.toUpperCase()}}</label>
          <div class="col text-muted">
            {{pm.description.slice(0, 8) + (pm.description.length > 8  ? "..." : "")}} 
          </div>
          <div class="col-6" *ngIf="pm.type == PlaceType.CLIENT">
            Demand: {{pm.demand}}
          </div>
          
        </div>
      </li>
    </ul>

    
    <div class="mt-5 h3">Vehicles {{vehicles.length}}, TC: {{getTotalCapacity()}}:
      <button class="btn btn-secondary position-relative mt-2" (click)="addVehicle()">
        <span *ngIf="!vehicles.length" class="position-absolute top-0 start-100 translate-middle p-2  bg-danger border border-light rounded-circle">
        </span>
        <span class="h5">Add vehicle</span>
      </button>
      
    </div>
    
    <ul class="list-group w-100 overflow-y-scroll" style="min-height: 200px; height: 200px;">
      <li class="list-group-item" *ngFor="let vehicle of vehicles">
        <div class="form-group row" >
          
          <label class="col-4 col-form-label">Capacity:</label>
          <div class="col-5">
            <input class="form-control" min="0" max="100" type="number" (change)="vehicle.capacity = +$any($event.target).value" [value]="vehicle.capacity">
          </div>
          <div class="col">
            <button class="btn btn-sm btn-outline-danger" (click)="removeVehicle(vehicle.uuid)">
              X
            </button>
          </div>
        </div>
      </li>
    </ul>
    
    <button type="button" class="btn btn-outline-warning my-2" [class.active]="generatorMode" (click)="generatorMode=!generatorMode" [disabled]="generatorLoading">
      <ng-container *ngIf="!generatorLoading">
        Generator
      </ng-container>
      <ng-container *ngIf="generatorLoading">
        <span class="spinner-border spinner-border-sm"></span>
        Loading...
      </ng-container>
    </button>
    <div *ngIf="generatorMode">
      <div  class="form-group row mb-1">
        <label class="col col-form-label">Min:</label>
        <div class="col">
          <input class="form-control" min="0" max="100" type="number" (change)="generator.min = +$any($event.target).value" [value]="generator.min">
        </div>
      </div>
      <div  class="form-group row mb-1">
        <label class="col col-form-label">Max:</label>
        <div class="col">
          <input class="form-control" min="0" max="100" type="number" (change)="generator.max = +$any($event.target).value" [value]="generator.max">
        </div>
      </div>
      <div  class="form-group row mb-1">
        <label class="col col-form-label">Radius:</label>
        <div class="col">
          <input class="form-control" min="0" type="number" (change)="generator.radius = +$any($event.target).value" [value]="generator.radius">
        </div>
      </div>
      <div  class="form-group row mb-1">
        <label class="col col-form-label">Places:</label>
        <div class="col">
          <input class="form-control" min="0" max="20" type="number" (change)="generator.places = +$any($event.target).value" [value]="generator.places">
        </div>
      </div>
    </div>
    
    <div class="mt-auto w-100">
      <select class="form-select" (change)="selectedAlgorithm = $any($event.target).value">
        <option [value]="''" >Select algorithm</option>
        <option [value]="algorithm" *ngFor="let algorithm of algorithms">{{algorithm}}</option>
      </select>
    </div>
    <div>
      avg: {{lastSolution?.stats?.avg?.toFixed(3)}}
      max: {{lastSolution?.stats?.max}}
      sum: {{lastSolution?.stats?.sum}}
    </div>
    
    
    <div class="w-100 d-flex justify-content-between mt-5">
      
      <button class="btn btn-success btn-lg" [disabled]="!taskDataIsReady()" (click)="getSolution()">
        <ng-container *ngIf="!taskLoading">
          Send Task
        </ng-container>
        <ng-container *ngIf="taskLoading">
          <span class="spinner-border spinner-border-sm"></span>
          Loading...
        </ng-container>
        
      </button> 
      <button class="btn btn-primary" [disabled]="!taskDataIsReady()" (click)="downloadInput()">
        Export data
      </button>
      <button class="btn btn-primary" [disabled]="!lastSolution" (click)="downloadResult()">
        Export result
      </button>
    </div>
    <div class="mt-3">
      <label class="form-label">Import data</label>
      <input class="form-control" type="file" (change)="onFileSelect($event)" accept=".json">
    </div>
  </div>
  <div class="col" *ngIf="apiLoaded">
    <google-map #myMap="googleMap"  height="100%" width="100%" [options]="options" (mapClick)="onMapClick($event)">
      
      <map-marker *ngFor="let placeMarker of placeMarkers"  [position]="placeMarker.latLng" [options]="placeMarker.markerOptions" #marker="mapMarker" (mapMouseover)="openInfoWindow(placeMarker, marker)" ></map-marker>
      <map-info-window>
        
        <div class="my-3">
          <div class="mb-2">
            {{lastMarker?.placeId}}
          </div>
          <div class="form-group row mb-2" *ngIf="lastMarker && lastMarker.type!= PlaceType.DEPOT">
            <label class="col-4 col-form-label">Demand:</label>
            <div class="col">
              <input class="form-control" min="0" max="20" type="number" (change)="lastMarker.demand = +$any($event.target).value" [value]="lastMarker.demand">
            </div>
          </div>
          <button *ngIf="lastMarker" (click)="deleteMarker(lastMarker)" class="btn btn-sm btn-danger m-2">Delete marker</button>
          <button *ngIf="lastMarker" (click)="getGeoInfo(lastMarker)" class="btn btn-sm btn-info">Info</button>
        </div>
        
      </map-info-window>
      <ng-container *ngFor="let route of routes">
        <map-directions-renderer [directions]="route.directions" [options]="route.options"></map-directions-renderer>
      </ng-container>
    </google-map>
    
  </div>
</div>
